<div class="grids pky">
  <div class="grid-8">

    <div class="grids">
      <% @person.articles.each do |a| %>
        <div class="grid-4 pfb">
          <%= render :partial => "shared/article_grid", :locals => {:article => a} %> 
        </div>
      <% end %>
    </div>

  </div>
  <div class="grid-4">

    <!-- TODO: their photo -->
    <!-- Profile picture -->
    <div class="mfb">
      <img src="http://placekitten.com/400/300" class="full" />
    </div>

    <!-- Basic information -->
    <div class="mfb">
      <div class="si serif mcb">
        <%= @person.name %>
      </div>

      <% if @person.year %>
        <div>Class of <%= @person.year %></div>  
      <% end %>

      <% if @person.position %>
        <div><%= @person.position %></div>  
      <% end %>

      <% if @person.bio %>
        <div><%= @person.bio %></div>  
      <% end %>

      <% if current_user %>
        <div class="pkt">
          <%= link_to 'Edit', edit_person_path(@person) %>
        </div>
      <% end %>
    </div>

  </div>
</div>


