<h1>Issues <span class="ligrey fwn pbl">volume <%= params[:volume] %>, 2013 - 2014</span></h1>

<div class="grids">

  <div class="grid-8">
    <div class="mky">
      <% @issues.each do |issue| %>
        <div class="mob">
          <h2><%= issue.name %></h2>
          <% if issue.public %>
            <div class="bg-green mdy pd fwb">
              <span class="dib mfr">public</span>
          <% else %>
            <div class="bg-orange mdy pd fwb">
              <span class="dib mfr">invisible</span>
          <% end %>
            <span class="dib mfr"><%= link_to 'edit', edit_issue_path(issue) %></span>
            <span class="dib mfr"><%= issue.publish_date %></span>
            <span class="dib mfr">Volume <%= issue.volume %></span>
            <span class="dib mfr">Edition <%= issue.edition %></span>
            <!-- TODO: make this link work in a nested fashion -->
            <span class="dib mfr"><%= link_to "New Article", new_article_path %></span>
          </div>
          <% if issue.articles.any? %>
            <div class="grids">
              <% issue.articles.each do |a| %>
                <div class="grid-3">
                  <div class="mfb pc bad">
                    <% if !a.photos.empty? && a.photos.first.image %>
                      <a href="/articles/<%= a.id.to_s  %>" class="db mbb">
                        <%= image_tag a.photos.first.image.url(:square), class: 'full' %>
                      </a>
                    <% end %>
                    <div class="sc mbb"><%= a.department ? a.department.name : "no department" %></div>
                    <div><%= link_to a.headline, edit_article_path(a), class: 'sd' %></div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="grid-4">
    <aside class="mky">
      <section class="pf mfb">
        <%= link_to 'New Issue', new_issue_path %>
      </section>
      <% @volumes.each do |vol| %>
        <section class="pf mfb">
          <%= link_to 'Volume '+vol.to_s, '/issues?volume='+vol.to_s %>
        </section>
      <% end %>
    </aside>
  </div>

</div>
