<h1>Issues</h1>

<div class="grids">

  <div class="grid-8">
    <div class="mky">
      <% @issues.each do |issue| %>
        <div class="mob">
          <h2><%= issue.name %></h2>
          <% if issue.public %>
            <div class="bg-green mcy pd fwb">
              <span class="dib mfr">public</span>
          <% else %>
            <div class="bg-orange mcy pd fwb">
              <span class="dib mfr">not visible</span>
          <% end %>
            <span class="dib mfr">not visible</span>
            <span class="dib mfr"><%= link_to 'edit', edit_issue_path(issue) %></span>
            <span class="dib mfr"><%= issue.publish_date %></span>
            <span class="dib mfr">Volume <%= issue.volume %></span>
            <span class="dib mfr">Edition <%= issue.edition %></span>
          </div>
          <% if issue.articles.any? %>
            <div class="grids">
              <% issue.articles.each do |article| %>
                <div class="grid-3">
                  <span><%= article.headline %></span>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="grid-4">
    <aside class="mky">
      <section class="pf mfb">
        <%= link_to 'New Issue', new_issue_path %>
      </section>
      <% @volumes.each do |vol| %>
        <section class="pf mfb">
          <%= link_to 'Volume '+vol.to_s, '/issues?volume='+vol.to_s %>
        </section>
      <% end %>
    </aside>
  </div>

</div>
