<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :headline %>
    <%= f.text_field :headline %>
  </div>

  <div class="actions">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>

  <div class="actions">
    <%= f.label :public %>
    <%= f.check_box :public %>
  </div>

  <div class="actions">
    <%= f.label :bigphoto %>
    <%= f.check_box :bigphoto %>
  </div>

  <div class="actions">
    <%= f.label :issue %>
    <%= f.collection_select :issue_id, Issue.all, :id, :name %>
  </div>

  <div class="actions">
    <%= f.label :department %>
    <%= f.collection_select :department_id, Department.all, :id, :name %>
  </div>

  <div class="actions">
    <%= f.label :deck %>
    <%= f.text_area :deck %>
  </div>

  <div class="actions">
    <%= f.label :copy %>
    <%= f.text_area :copy %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
