<div class="grids">

  <div class="grid-6">
    <div class="mky">
      <%= render 'form' %>
    </div>
  </div>

  <div class="grid-2">
  </div>

  <div class="grid-4">
    <aside class="mky">

      <section class="pf mfb">
        <%= link_to 'Cancel edit', @article %>
      </section>

      <section class="pf mfb">
        <h4 class="mdb">View on website:</h4>
        <%= link_to article_url(@article), @article %>
      </section>

      <h3 class="mdb">Photos</h3>

      <% @article.photos.each do |p| %>
        <section class="pf mfb">
          
          <%= p.inspect %>
          <div>
            <%= image_tag p.image.url(:medium), class: 'full' %>
          </div>
          <div>
            <div><%= p.caption %></div>
          </div>
          <div>
            <%= link_to "Edit photo", edit_photo_path(p) %>
          </div>
        </section>
      <% end %>

    </aside>
  </div>

</div>
