
<div class="grids">

  <div class="grid-12">
    <h1 class="serif mfy"><%= @article.headline %></h1>
  </div>

  <div class="grid-8 article">

    <div class="info">
      <span><strong><%= link_to @article.department.name, '/'+@article.department.slug %></strong></span>
      <span>by pupu-chan</span>
      <span>Issue X</span>
      <span>Edition X</span>
    </div>

    <% if !@article.photos.empty? %>
      <div class="image mfb">
        <img src="https://s3.amazonaws.com/thecolbyecho/<%= @article.photos.first.id.to_s %>.<%= @article.photos.first.extension %>" />
        <% if @article.photos.first.caption %>
          <div class="caption">
            <%= @article.photos.first.caption %>
          </div>
        <% end %>
      </div>
    <% end %>

    <article class="print">
      <!-- TODO: big photo (if indicated) with attribution/source -->
      <!-- TODO: social buttons -->
      <!-- TODO: topics (maybe sidebar?) -->
      <!-- TODO: more photos -->
      <%= simple_format @article.copy %>
      <!-- TODO: below author, more articles by them -->
    </article>
  </div>

  <div class="grid-4">
    <aside>
      <section class="pf mfb">
        <h4>Other articles in this Issue</h4>
        <p>Issue publish date, edition, volume</p>
      </section>
      <section class="pf mfb">
        <h4>Articles with these topics</h4>
        <ul>
          <li class="mfb">
            <h5><a href="/topics/bro">Bro</a></h5>
            <ul>
              <li><a href="">An article about <strong>Bro</strong></a></li>
              <li><a href="">Another article about <strong>Bro</strong></a></li>
            </ul>
          </li>
          <li class="mfb">
            <h5><a href="/topics/swimming">Swimming</a></h5>
            <ul>
              <li><a href="">An article about <strong>Swimming</strong></a></li>
              <li><a href="">Another article about <strong>Swimming</strong></a></li>
            </ul>
          </li>
        </ul>
      </section>
      <section class="pf mfb">
        <%= link_to "edit this article", edit_article_path(@article) %>
      </section>
    </aside>
  </div>

</div>
