<h1 class="mfb">Edit Ledes</h1>

<div class="grids">
  <div class="grid-6 pub">

    <h2 class="mcb">Breaking <span class="ligrey fwn">(optional)</span></h2>

    <%= form_for(@breaking) do |f| %>
      <%= f.collection_select(:article_id, Article.limit(50), :id, :headline, {:include_blank => "None"}) %>
      <%= f.submit "Save" %>
    <% end %>

  </div>
  <div class="grid-6 pub">

    <h2 class="mcb">Primary</h2>

    <%= form_for(@primary) do |f| %>
      <%= f.collection_select(:article_id, Article.limit(50), :id, :headline, {}) %>
      <%= f.submit "Save" %>
    <% end %>

  </div>

  <% @secondary.each_with_index do |lede, i| %>
    <div class="grid-6 pub">
      <h2 class="mcb">Secondary <%= i+1 %></h2>
      <%= form_for(lede) do |f| %>
        <%= f.collection_select(:article_id, Article.limit(50), :id, :headline, {}) %>
        <%= f.submit "Save" %>
      <% end %>
    </div>
  <% end %>

</div>



