
<div class="grids pkt pzb">

  <!-- Huge breaking news -->
  <% if @breaking.article %>
    <div class="grid-12">
      <div class="ppb">
        <div class="fwb">
          <%= link_to @breaking.article.department.name.upcase, @breaking.article.department %>
        </div>
        <h1 class="serif mcb"
            style="font-size:28px;"
          ><%= link_to @breaking.article.headline, @breaking.article, class: "dark" %></h1>
        <p><%= @breaking.article.deck %></p>
      </div>
    </div>
  <% end %>

  <!-- Secondary featured articles -->
  <div class="grid-3">
    <% @secondary.each do |l| %>
      <div class="pdb mdb badb">
        <div class="fwb pbb">
          <%= link_to l.article.department.name.upcase, l.article.department %>
        </div>
        <h3 class="serif mcb"
            style="font-size:18px;color:#333;"
          ><%= link_to l.article.headline, l.article, class: "dark" %></h3>
      </div>
    <% end %>
  </div>

  <!-- Primary featured article -->
  <div class="grid-6">
    <% if @primary %>
      <div class="ppb">
        <div class="mdb">
          <% if !@primary.article.photos.empty? && @primary.article.photos.first.image %>
            <%= link_to (image_tag @primary.article.photos.first.image.url(:medium), class: 'full'), @primary.article.slug_path %>
          <% end %>
        </div>
        <h1 class="serif mcb si"><%= link_to @primary.article.headline, @primary.article.slug_path, class: 'dark' %></h1>
        <p><%= @primary.article.deck %></p>
      </div>
    <% end %>
  </div>


  <div class="grid-3">
    <div class="">
      <h4 class="mcb pcb badb">Echoes from the Editors</h4>

      <% @blog_articles.each do |article| %>
        <div class="pdb mdb badb">
          <h3 class="serif mcb sd"><%= link_to article.headline, article.slug_path, class: "dark" %></h3>
          <div class="">
            <%= raw article.authors_text %>
            <span class="grey"><%= article.created_at.strftime('%b %-d') %></span>
          </div>
        </div>
      <% end %>
      
    </div>

  </div>

</div>
