<p id="notice"><%= notice %></p>

<%= image_tag @photo.image.url(:medium) %>


<p>
  <b>Caption:</b>
  <%= @photo.caption %>
</p>

<p>
  <b>Source:</b>
  <%= @photo.source %>
</p>

<p>
  <b>Extension:</b>
  <%= @photo.extension %>
</p>

<p>
  <b>Source:</b>
  <%= @photo.source %>
</p>

<p>
  <b>Person:</b>
  <%= @photo.person_id %>
</p>

<p>
  <b>Public:</b>
  <%= @photo.public %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
