<!DOCTYPE html>
<html>
<head>
  <title>The Colby Echo</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <!-- todo: look into loading at end of page --> 
  <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <% if current_user %>

      <div class="admin">
        <div class="wrap pdy">
          <div class="white sd">
            <span><%= current_issue.publish_date %> - <%= current_issue.name %></span>
            <span class="right"><%= link_to "Log out", :logout %></span>
          </div>
          <a href="/ledes" class="pf dib">Edit Front Page</a>
          <a href="/issues?volume=<%= Issue.maximum(:volume) %>" class="pf dib">Issues</a>
          <a href="/articles/new" class="pf dib">New Article</a>
          <a href="" class="pf dib">Blog</a>
          <a href="/photos" class="pf dib">Photos</a>
          <a href="/photos/new" class="pf dib">Upload Photo</a>
          <a href="/people" class="pf dib">People</a>
          <a href="" class="pf dib">Jeff Carpenter</a>
        </div>
      </div>

    <% else %>

      <div id="top" style="display:none;">
        <a href="/" style="background-image:url('<%= image_path('logo-white.png') %>');" alt="The Colby Echo" title="The Colby Echo" id="logo"></a>
        <span id="subtitle">Colby College's student run newspaper since 1877</span>
      </div>

    <% end %>

    <div id="nav_wrapper"> <div id="nav">
        <ul id="sections">
          <% header_sections.each do |key, value| %>
            <li>
              <a href="/<%= value %>"><%= key.upcase %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>

  <div id="content" class="<%= params[:controller] %>">
    <div class="wrap">
      <%= yield %>
    </div>
  </div>

  <%= render partial: 'layouts/footer' %>

</body>
</html>
