<!DOCTYPE html>
<html>
<head>
  <title>The Colby Echo</title>
  <%

=begin
echo meta('Content-type', 'text/html; charset=utf-8', 'equiv');

echo link_tag(''.base_url().'public/images/favicon.ico', 'shortcut icon', 'image/ico');

$links = array(
          'public/css/front-min-3-7.css',
          'public/css/front_facing/'.$controller.'.css'
);
foreach($links as $l):
	echo link_tag($l);
endforeach;
=end
%>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <div class="admin">
      <div class="wrap pa">
        <div class="grids">
          <div class="grid-2">
            <a href="/issues?volume=<%= Issue.maximum(:volume) %>" class="pf dib">Issues</a>
          </div>
          <div class="grid-2">
            <a href="/people" class="pf dib">People</a>
          </div>
          <div class="grid-2">
            <a href="/photos" class="pf dib">Photos</a>
          </div>
          <div class="grid-2">
            <a href=""></a>
          </div>
          <div class="grid-2">
            <a href=""></a>
          </div>
          <div class="grid-2">
            <a href="" class="pf dib">Jeff Carpenter</a>
          </div>
        </div>
      </div>
    </div>

    <div id="top">
      <a href="/" style="background-image:url('<%= image_path('logo-white.png') %>');" alt="The Colby Echo" title="The Colby Echo" id="logo"></a>
      <span id="subtitle">Colby College's student run newspaper since 1877</span>
    </div>

    <div id="nav_wrapper"> <div id="nav">
        <ul id="sections">
          <% header_sections.each do |key, value| %>
            <li>
              <a href="/<%= value %>"><%= key.upcase %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>
  <div id="content" class="<%= params[:controller] %>">
    <div class="wrap">
      <%= yield %>
    </div>
  </div>
  <%= render partial: 'layouts/footer' %>
</body>
</html>
